*~
*.map
*.cbp
tools/DiagProtTest/brahms/engine/.sconf_temp/*
tools/performance-monitor/*.pyc
.sconsign.dblite
*.os
*.layout
*.cbp
*#*
*flymake*
*.o
*.swp
*.swo
*.scons_has_run
*.dblite
*.DS_Store
*.su
/.settings/
/.cproject
/.project
.vscode
./vscode/*
tools/performance-monitor/test/1.micro.ser
tools/performance-monitor/test/baseline_run.log
tools/performance-monitor/test/baseline_run.ser
tools/performance-monitor/test/baseline_gts_poses

# files created by git mergetool
*.orig